* {
 padding: 0;
 box-sizing: border-box;
 list-style: none;
 margin: 0;
 outline: 0;
 border: 0;
 scroll-behavior: smooth;
}

:root {
 /* primary/main color */
 --body-color: #ffff;

 /* darkest grey - used for headings */
 --heading-color: #002339;

 /* grey used for paragraphs */
 --p-color: #002339;
 --link-color: #000000;

 /* other colors */
 --add-color: #F40009;
 --add-color-2: rgba(255, 166, 0, 0.357);
}

body {
 line-height: 1.5;
 font-size: 0.875rem;
 width: 100%;
 height: 100vh;
}

ul {
 list-style-type: none;
}

h1,
h2,
h3,
h4 {
 line-height: 1.25;
}

h1 {
 color: var(--add-color);
 text-transform: uppercase;
}

h2 {
 font-size: 1rem;
}

h3 {
 font-size: 1.25rem;
}

h4 {
 font-size: 0.875rem;
}

p {
 color: var(--p-color);
}

i {
 color: var(--p-color);
 cursor: pointer;
}

a {
 text-decoration: none;
 color: var(--add-color);
}

.program {
 display: flex;
 margin-left: 40px;
 align-items: center;
 justify-content: space-between;
 margin-top: 30px;
 margin-bottom: 90px;
}

.prog-details {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 40%;
}

.prog-details img {
 border-radius: 5px;
 margin: 5px;
 width: 100%;

}

.prog-details .single-prog-details{
 color: #002339;
 border-radius: 5px;
 padding: 10px;
}

.prog-details .single-prog-details p{
 color: #002339;
}

.prog-details .single-prog-details p span {
 font-weight: 700;
}


.payment {
 width: 45%;
 margin-bottom: 20px;
 margin-top: 30px;
 margin-right: 40px;
}

.coaching-payment {
 padding: 20px;
 /* float: right; */
 /* align-items: center; */
 color: var(--body-color);
 background-color: var(--heading-color);
 display: flex;
 flex-direction: column;
 box-shadow: 2px;
 border-radius: 1rem;
 margin: 10px;
}

.coaching-payment h2 {
 font-size: 1.7rem;
 color: var(--add-color);
 text-transform: uppercase;
 font-family: 'Times New Roman', Times, serif;
}

.coaching-payment p {
 color: var(--body-color);
}

.coaching-payment form input {
 border: none;
 width: 100%;
 height: 45px;
 display: block;
 padding-left: 20px;
 margin: 10px 0;
}

.coaching-payment form .input-submit {
 border: none;
 background-color: var(--add-color);
 width: 100%;
 color: var(--body-color);
 height: 45px;
 font-weight: 600;
 display: block;
 padding-left: 20px;
 margin: 10px 0;
 text-transform: uppercase;
 cursor: pointer;
 display: none;
}

.coaching-payment .pay-method {
 border: solid rgba(0, 0, 0, 0.238);
 width: 250px;
 height: 25px;
 display: block;
 padding-left: 20px;
 margin: 10px 0;
 text-transform: uppercase;
 background-color: blanchedalmond;
 text-align: left;
 justify-items: end;
}

.coaching-payment .terms {
 border: solid rgba(0, 0, 0, 0.238);
 width: 400px;
 display: block;
 padding-left: 20px;
 margin: 10px 0;
 text-transform: uppercase;
 background-color: blanchedalmond;
 justify-items: end;
}

.coaching-payment .complete input {
 border: none;
 width: 400px;
 height: 45px;
 display: block;
 padding-left: 20px;
 margin: 10px 0;
 text-transform: uppercase;
 font-size: 1.4rem;
 background-color: navy;
 align-items: center;
 font-weight: 600;
}

.message {
 width: 100%;
 position: relative;
 margin-bottom: 60px;
 display: flex;
 justify-content: center;
}

.message .success {
 font-size: 1rem;
 color: green;
 position: absolute;
 transition: 10s;
 animation: buttons 40s linear;
 display: none;
}

.message .danger {
 font-size: 1rem;
 color: red;
 position: absolute;
 transition: 10s;
 animation: buttons 40s linear;
 display: none;
}

@keyframes buttons {
 0% {
  transform: scale(1);
 }

 50% {
  transform: scale(1.5);
 }

 100% {
  transform: scale(2.5);
 }
}


/* .coaching-conatiner {
 margin: 10px;
 float: left;
} */

.coaching-payment-process {
 padding: 20px;
 color: var(--body-color);
 background-color: var(--heading-color);
 display: flex;
 flex-direction: column;
 box-shadow: 2px;
 border-radius: 1rem;
 /* margin: 20px; */
 height: auto;
 text-align: center;
 text-transform: uppercase;
}

.coaching-payment-process h2 {
 font-size: 1.2rem;
 color: var(--add-color);
}

.coaching-payment-process p {
 color: var(--body-color);
 font-size: 1.3rem;
}

@media (max-width: 769px) {
 .program {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 0;
 }

  .prog-details {
   width: 90%;
  }
 
  .payment {
   width: 90%;
    margin-top: 0px;
     margin-right: 0px;
     align-items: center;
  }
 .coaching {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
 }

 .coaching-payment-process {
  width: 90%;
 }
 .coaching-payment {
  width: 90%;
 }

 .coaching-payment h2 {
  font-size: 1rem;
  color: var(--add-color);
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
 }

 .coaching-payment-process p {
  color: var(--body-color);
  font-size: 1rem;
 }
}

@media (max-width: 426px) {
 .coaching {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
 }

 .coaching-payment h2 {
  font-size: 1rem;
  color: var(--add-color);
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
 }

 .coaching-payment-process p {
  color: var(--body-color);
  font-size: 1rem;
 }
}